click  
cmake
dlib
face-recognition
face-recognition-models
flask
gcloud
googleapis-common-protos
httplib2
itsdangerous
jinja2
markupSafe
numpy
oauth2client
pillow
pip
protobuf
pyasn1
pyasn1-modules 
rsa
setuptools
six
werkzeug
wheel