<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <style>
      .card {
        margin: 1% auto;
        float: none;
        margin-bottom: 10px;
        }
    </style>
  <title>Are You The Pope?</title>
</head>

<body class="bg-secondary">
  <div class="container-fluid">
  <div class="card bg-light" style="width: 80%;">
    <img src="../static/hC!+y^2`hu}Y:B.jpg" class="card-img-top" alt="pope">
    <div class="card-body">
      <h1 class="card-title">Are you the pope?</h1>
      <h2 class="card-text">Upload a picture of yourself to see if you're the pope!</h2>
      <form action="/upload" method="post" enctype="multipart/form-data" >
        <span class="btn btn-default btn-file">
          Browse <input type="file" name="image">
        </span>
      <input type="submit" value="Upload your image" class="btn btn-primary">
    </form>
    </div>
  </div>
</div>
</body>

</html>